.todo-item {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 30px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f2f3f5;
    cursor: pointer;
    position: relative;
    &.completed {
        color: #aaa;
    }
}

.todo-item .check-box {
    display: flex;
    border: 2px solid #eee;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: background-color 0.3s, border-color 0.3s;
    i.material-icons {
        font-size: 20px;
        margin: auto;
        color: #141414;
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.todo-item:hover .check-box {
    background: #eee;
    i.material-icons {
        opacity: 0.3;
    }
}

.todo-item.completed .check-box {
    background: rgb(6, 223, 168);
    border-color: rgb(6, 223, 168);
    i.material-icons {
        opacity: 1;
    }
}

.todo-item .todo-control-box {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: translateY(2px);
    transition: opacity 0.3s, visibility 0.2s, transform 0.2s;
}

.todo-item:hover .todo-control-box {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
    transform: translateY(0);
}

.todo-control-box .todo-control-button {
    background: #f5f8f7;
    display: flex;
    padding: 6px 10px;
    i.material-icons {
        font-size: 20px;
        color: #555;
    }
    &:hover {
        background: #eee;
        color: #333;
    }
    &:active {
        background: #e5e7e8;
    }
    &:first-of-type {
        border-top-left-radius: 7px;
    }
    &:last-of-type {
        border-top-right-radius: 7px;
    }
}

.todo-control-box .todo-control-button.is-danger:hover i.material-icons {
    color: rgb(230, 4, 4);
}

.todo-control-box .todo-control-button.is-danger:active i.material-icons {
    color: red;
}